#Gradient {
    background: #AE00CE;
    background: -moz-linear-gradient(top, #AE00CE 0%, #002C66 50%, #000000 100%);
    background: -webkit-linear-gradient(top, #AE00CE 0%, #002C66 50%, #000000 100%);
    background: linear-gradient(to bottom, #AE00CE 0%, #002C66 50%, #000000 100%);
    }