.back-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
  filter:blur(10px);
  transform: scale(1.1);
}

.back-video video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  min-width: 100%;
  min-height: 100%;

  object-fit: cover;
  
}


@media (min-aspect-ratio:16/9){
    #back-video{
        width: 100%;
        height:auto;
    }
}

@media (max-aspect-ratio:16/9){
    #back-video{
        width: auto;
        height:100%;
    }
}

#position {
    position:left;
    bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0%;
    

  }
#Fixed {
    position: absolute;
left: 0;
    width: auto;
    height: 100px;
    
} 


.gradient2 {
    background: linear-gradient(to bottom, #04FF00 0%, #000000 60%, #000000 100%);
}

.gradient3 {
    background: linear-gradient(to bottom, #027300 0%, #000000 75%, #000000 100%);
}


:root {
    --table-bg: rgba(255,255,255,0.7);
    --table-text: black;
    --loader-bg: rgb(40, 54, 31);
    --loader-text: black;
    --loader-accent: #2ebd35;
}

.dark {
    --table-bg: rgba(0,0,0,0.7);
    --table-text: white;
    
    --loader-bg: rgba(0,0,0,1);
    --loader-text: white;
    --loader-accent: #2ebd35;
}
table {
    background: var(--table-bg) !important;
    color: var(--table-text);
    border-collapse: separate;
    border-spacing: 16px;
    border-radius: 16px;
    backdrop-filter: blur(10px);
}

td {
    background: transparent !important;
    color: inherit;
}
table * {
    background: transparent;
}



#themeToggle {
    position: fixed;
    top: 15px;
    right: 15px;

    width: 50px;
    height: 50px;

    border: none;
    border-radius: 50%;

    background: rgba(255,255,255,0.2);

    backdrop-filter: blur(10px);

    color: rgb(255, 210, 87);
    font-size: 22px;

    cursor: pointer;

    transition:
        transform 0.2s ease,
        background 0.3s ease;
}

#themeToggle:hover {
    transform: scale(1.1);
    background: rgba(21, 177, 0, 0.35);
}
.dark #logo {
    filter: invert(1);
}
@font-face {
    font-family: "Glacial Indifference";
    src: url("fonts/GlacialIndifference-Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

.font-face {
    font-family: "Glacial Indifference", sans-serif;
}
.font-face h1{
    font-family: "Glacial Indifference", sans-serif;
    font-weight: 400;
    letter-spacing: 3px;
    color: white;
    text-align: center;
    letter-spacing: 6px;
    text-transform: uppercase;
}
.font h1{
     letter-spacing: 8px;
    text-transform: uppercase;
}
.fade-in {
    opacity: 0;
    animation: fadeIn 2.5s ease forwards;
    animation-delay: 2s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 0.9;
        transform: translateY(0);
    }
}

.light {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  color: white;
    text-align: center;
    letter-spacing: 6px;
    text-transform: uppercase;
}
.orbitron-light {
    font-family: "Orbitron", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    text-align: center;
    letter-spacing: 6px;
}
.audiowide {
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    text-align: center;
    letter-spacing: 6px;
}
.league-gothic {
    font-family: "League Gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
     color: white;
    text-align: center;
    letter-spacing: 20px;
     text-transform: uppercase;
}

.antonio {
    font-family: "Antonio", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    text-align: center;
    letter-spacing: 10px;
     text-transform: uppercase;
}

@font-face {
    font-family: "Playlist Script";
    src: url("fonts/Playlist-Script.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

.playlist-script {
    font-family: "Playlist Script", sans-serif;
    color: white;
    text-align: center;
    letter-spacing: 6px;
}

.album-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    gap: 25px;
    width: 85%;
    margin: auto;
    max-width: 1700px;
    background: var(--table-bg) !important;
    padding: 20px;
    border-radius: 16px;
}
.album {
    text-align: center;
    padding: 8px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
     border-radius: 16px;
}

.album img {
    width: 100%;
    height: auto;
    display: block;
}

.album:hover {
    transform: scale(1.03);
    border-radius: 16px;
    overflow: hidden;
}
.album:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
}

.dark .album:hover {
    box-shadow: 0 0 15px rgb(94, 255, 0);
}

.album p {
    font-family: verdana;
    font-size: 20px;
    margin-top: 6px;
}
.album-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 12px;
    width: 60%;
    max-width: 400px;
    margin: auto;
    background: var(--table-bg) !important;
    color: var(--table-text);
    padding: 15px;
    border-radius: 16px;
    overflow: hidden;
}



.banner {
  border-radius:16px;
    max-width: 100%;
    height: auto;
     object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
@media (max-width: 768px) {
    .album-grid {
        grid-template-columns: 1fr !important;
        width: 95% !important;
        padding: 10px !important;
    }

    .album p {
        font-size: 13px;
    }
}
@font-face {
    font-family: "Minecraft";
    src: url("fonts/Minecraft.ttf") format("opentype");
    font-weight: normal;
    font-style: normal;
}
.minecraft {
    font-family: "Minecraft", sans-serif;
    color: white;
   text-align: center;
    letter-spacing: 16px;
     text-transform: uppercase;
   
}
#bandcampDark {
    opacity: 0;
    pointer-events: none;
    position: absolute;
}

.dark #bandcampLight {
    opacity: 0;
    pointer-events: none;
    position: absolute;
}

.dark #bandcampDark {
    opacity: 1;
    pointer-events: auto;
    position: static;
}
#loadingScreen {
    position: fixed;
    inset: 0;

    background: var(--loader-bg);
    color: var(--loader-text);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    z-index: 9999;
    transition: opacity 0.4s ease;
}
.loaderBar {
    width: 120px;
    height: 2px;
    margin-top: 12px;

    background: rgba(128,128,128,0.2);
    overflow: hidden;
    position: relative;
}

.loaderBar::after {
    content: "";
    position: absolute;
    left: -40%;
    width: 40%;
    height: 100%;
    background: var(--loader-accent);
    animation: slide 1s infinite;
}

@keyframes slide {
    to { left: 100%; }
}
.bandcampWrapper {
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
    border-radius: 0 0 16px 16px;
    overflow: hidden;
    display: inline-block;
    
}
.images {
  border-radius:16px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.3);
  filter: brightness(1.5);
}